body h1 {
  text-align: center;
  color: black; }

body h2 {
  text-align: center;
  color: black; }

body .ui.segment {
  background-color: black;
  border-color: red;
  margin: 20px;
  color: red; }
  body .ui.segment .card.content {
    padding: 35px; }
  body .ui.segment .ui.header {
    color: white; }

.ui.raised.very.paddedtext.container.segment {
  padding-top: 50px;
  margin-top: 200px;
  margin-bottom: 150px;
  opacity: 100%; }

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px; }

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.form-signin-heading,
.checkbox {
  margin-bottom: 30px; }

.checkbox {
  font-weight: normal; }

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px; }
  .form-control:focus {
    z-index: 2; }

input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.ui.three.column.grid {
  margin: 50px;
  padding: 60px; }

.header {
  color: white; }

.ten.wide.column .ui.card .content {
  width: 100%; }

.ui.inverted.red.segment {
  opacity: 0.3;
  border-color: black; }

body .ui.stackable.grid .row .three.wide.column {
  margin-left: 30px; }
