extends ./navbar.pug

block content
    style.
      body{
      background: url(http://3.bp.blogspot.com/-bA3CYQg6ofk/UycCHKY2aiI/AAAAAAAAKeM/JYCcNSUzkMw/s1600/Guitar-HD-Wallpaper-13.jpg);  
      }
    body
      .wrapper
        form.form-signin(action='/login', method='post' )
          h2.form-signin-heading Please login
            input.form-control(type='text', name='loginEmail', placeholder='Email Address', required='', autofocus='')
            input.form-control(type='password', name='loginPassword', placeholder='Password', required='')
            label.checkbox
            input#rememberMe(type='checkbox', value='remember-me', name='rememberMe')
            |  Remember me
            button.ui.inverted.blue.button.btn.btn-lg.btn-primary.btn-block(type='submit') Login